# Java and IDE build files
*.class
*.log
*.ctxt
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Eclipse
.settings/
.project
.classpath
bin/

# Mac and Windows junk
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
